body {
    background: #0f1840;
    margin: 0;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/730/365/original/black-and-grey-modern-material-design-with-carbon-fibre-texture-overlapped-layers-background-abstract-widescreen-background-vector.jpg');
    background-size: cover;
    background-position: center bottom;
  }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
