body {
    background: #0f1840;
    margin: 0;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  body {
    background-image: linear-gradient(rgba(15, 76, 92, 0.502), rgba(251, 139, 36, 0.502)),
                  url("assets/img/stakingbg.png");
    background-size: cover;
    background-position: center bottom;
  }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
